<div class="container py-5 h-100" style="margin-top: 3%;">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <div class="">
                        <form [formGroup]="loginCredentials" (ngSubmit)="login()">
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>

                            <div class="form-outline form-white mb-4">
                                <input type="loginEmail" id="loginEmail" name="email" formControlName="loginEmail" class="form-control form-control-lg" />
                                <label class="form-label" for="typeEmailX">Email</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="loginPassword" name="email" formControlName="loginPassword" class="form-control form-control-lg" />
                                <label class="form-label" for="typePasswordX">Password</label>
                            </div>

                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                        </form>
                            <div style="margin-top: 5%;">
                                <a class="text-white-50" routerLink="/signup-component"><u>New here? Click here to Sign Up Now!!</u></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>