<div style="text-align: center;">
    <h1>Angular Spring Boot Java Application</h1>
    <h4>Developed a web application which exposes REST APIs to perform CRUD Operations on a backend Database system.</h4>
    <h5>Complete fronend and backend code placed at github</h5><br>
    <h5><u>Technologies Used</u></h5>
    <h5>FronEnd: Angular, HTML, CSS, Bootstrap</h5>
    <h5>BackEnd: Java, Springboot, Spring JPA</h5><br>
    <h5><u>Github Repository</u></h5>
    <h5>FronEnd Repo: <a href="https://github.com/zainjaafri/code-frontend" target="_blank">https://github.com/zainjaafri/code-frontend</a></h5>
    <h5>BackEnd Repo: <a href="https://github.com/zainjaafri/code-backend" target="_blank">https://github.com/zainjaafri/code-backend</a></h5><br><br>
    <h6>Developed by Zain Jafri</h6>
    <h6>Feel free to contact me at: <a href="mailto:zainjafri19@gmail.com">zainjafri19@gmail.com</a></h6>

</div>