<div style="text-align: center;">
    <h1>Hello</h1>
    <h4>Develop a web application which exposes REST APIs to perform CRUD Operations on a backend Database system.</h4>
    <h5>Complete fronend and backend code placed at github</h5><br>
    <h5><u>Technologies Used</u></h5>
    <h5>FronEnd: Angular, HTML, CSS, Bootstrap</h5>
    <h5>BackEnd: Java, Springboot, Spring JPA</h5><br>
    <h5><u>Github Repository</u></h5>
    <h5>FronEnd Repo: www.github.com/zainjaafri</h5>
    <h5>BackEnd Repo: www.github.com/zainjaafri</h5><br>

</div>